@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Montserrat&family=Open+Sans:wght@300&family=Oswald:wght@700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Montserrat&family=Open+Sans:wght@300&family=Orbitron&family=Oswald:wght@700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0; 
    padding: 0;
    /* background-color: #DEF9FF; */
    /* background-color: rgb(205, 218, 255); */
    background-color: rgb(31, 31, 31);
    font-family: "changa";
}




/*navbar*/
/* 
nav {
    background-color: black;
    border: solid 2px yellow;
} */

/* .navbar {
    display: flex;

} */

/* .logo-container {
    border: 2px red solid;
} */

.navbar {
    position: absolute;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: blue;
}

.navbar a {
    color: white;
}

.navbar .nav-links ul {
    display: flex; 
}


.navbar .nav-links ul li {
    margin: 0 25px;
}

.logo {
   font-weight: bold;
   font-size: 1em;
   font-family: "changa";
   margin: 0 25px;

}

.burger-menu {
    z-index: 5;
    display: none;
    position: absolute;
    top: 20px;
    right: 30px;
    width: 35px;
    cursor: pointer;
}

/* responsive navbar */

@media screen and (max-width: 900px) {
    .navbar {
        padding: 0;
    }

    .logo {
        position: absolute;
        top: 25px;
        left: 25px;
    }
    .burger-menu {
        display: block;
    }

    .nav-links {
        z-index: 4;
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.265);
        backdrop-filter: blur(10px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%; 
        /* transition: all 0.5s ease; */
    }

    .nav-links.mobile-menu {
        margin-left: 0;
    
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li {
        padding-bottom: 20px;
        font-size: 1.3em;
    }
}

/* name et neon */
.neon1 {
    margin: 100px;
    width: 200px;
    height: 200px;
    background-color: rgb(111, 0, 255); /* for the 1px in the center */
    border-radius: 100%;
    box-shadow: 0 0 50px 70px rgb(111, 0, 255);
    padding: 20px;
    position: absolute;
    top: 130px;
    /* height: 100%;
    width: 100%;
    backdrop-filter: blur(20%);
    background: rgba(0, 0, 0, 0.73); */
}

.title-accueil {
    z-index: 1;
    /* display: flex;
    justify-items: left;
    align-items: center; */
    left: 100px;
    position: relative
}

h1 {
    color: rgb(230, 236, 240);
    font-size: 4em;
    font-family: "Orbitron";
    padding: 0px;
    /* margin-bottom: 50px; */

}

h2 {
    color: white;
}


/* .title-accueil {
    display: flex;
    justify-content: center;
    align-items: center;
} */
.neon2 {
    margin: 100px;
    width: 50px;
    height: 50px;
    background-color: rgb(0, 42, 255); /* for the 1px in the center */
    border-radius: 100%;
    box-shadow: 0 0 50px 70px  rgb(0, 42, 255);
    padding-left: 30px;
    z-index: -1;

}

.tagcloud {
    font-size: 16px;
  }
  .tagcloud--item {
    padding: 2px 4px;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
  }
  .tagcloud--item:hover {
    background-color: rgba(0,0,0,.1);
    border: 1px solid #333;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    opacity: 1 !important;
    z-index: 100 !important;
  }
  .light .tagcloud--item {
    color: #fff;
  }
  .light .tagcloud--item:hover {
    background-color: rgba(255,255,255,.1);
    border: 1px solid #fff;
  }
/* words cloud */

.cloud-container {
    border: solid rgb(0, 4, 255) 2px;
    border-radius: 50%;
    padding: 10px;
    width:350px;
    height:350px;
    /* display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: wrap; */    
}

ul.cloud {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 2.75rem;
    max-width: 400px;
  }
  
  ul.cloud a {
    /*   
    Not supported by any browser at the moment :(
    --size: attr(data-weight number); 
    */
    --size: 4;
    --color: #a33;
    color: var(--color);
    font-size: calc(var(--size) * 0.25rem + 0.5rem);
    display: block;
    padding: 0.125rem 0.25rem;
    position: relative;
    text-decoration: none; 
    animation: shake 1.5s; 
    /* animation: 3s linear 1s infinite alternate slidein;
    animation: fadeIn 0.5s linear; */
    animation-iteration-count: infinite; 
    
}
  
  ul.cloud a[data-weight="1"] { --size: 4; }
  ul.cloud a[data-weight="2"] { --size: 4; }
  ul.cloud a[data-weight="3"] { --size: 4; }
  ul.cloud a[data-weight="4"] { --size: 4; }
  ul.cloud a[data-weight="5"] { --size: 4; }
  ul.cloud a[data-weight="6"] { --size: 4; }
  ul.cloud a[data-weight="7"] { --size: 4; }
  ul.cloud a[data-weight="8"] { --size: 4; }
  ul.cloud a[data-weight="9"] { --size: 4; }
  

ul.cloud a {
    color: aliceblue;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

li {
    list-style-type: none;
    color: white;
    font-family: "changa";
}

.accueil-container {
    /* width: 100vw; */
    height: 100vh;
    /* position: absolute; */
    display: flex;
    justify-content: space-between; 
    /* ou left? */
    align-items: center;
    text-align: center;
}
/* about */

.section-title {
    color: white;
    font-size: 2em;
}

.title-about {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align:center; */
}

#apropos {
    height: 100vh;
    border: 2px solid rgba(0, 30, 255, 0.927);
}

.about-content {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 100px;

}

.text p {
    color: white;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* responsive about */

@media screen and (max-width: 1050px) {
    .about-content {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}

@media screen and (max-width: 300px) {
    /* .img-container {
        width: 50%;
        object-fit: cover;
        object-position: center;
        padding: 30px;
    } */
        .img-about {
            width: 90%;
            object-fit: cover;
            object-position: center;

    }


}


@media screen and (max-width: 450px) {
    #apropos {
        height: 180vh;
    }

    .img-about {
        width: 70%;
    }

    .text {
        max-width: 250px;
    }

    .text p {
         font-size: 80%;
         object-position: center;
   }
 }
 

/* projects */

#projects {
    height: 200vh;
    border: #ff0000 solid;

}

/* projets */

.projects-container {
    /* height: 500px; */
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px; */
    /* display: grid;
    margin: 0 var(--padding);
    grid-template-columns: repeat(auto-fit, minmax(500px, 2fr));
    column-gap: 200px;
    row-gap: 100px;
    padding: auto; */

    display: grid;
    max-width: 1100px;
    margin: auto;
    column-gap: 3rem;
    row-gap: 3em;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    /* grid-auto-rows: minmax(150px, auto); */
    
}

/* projects responsive */

@media screen and (max-width: 1200px) {
    .projects-container {
        padding: 40px;  
    }
}
@media screen and (max-width: 900px) {
    .projects-container {
        grid-template-columns: 1fr;
        padding: 60px;  
    }

}
.project img {
    width: 100%;
    object-fit: cover;
}

.project a{
    color: white;
}

.project {
        /* max-width: 100%; */
        border-radius: 10px;
        box-shadow: 0 5px 20px rgba(0,0,0,0.5);
        transition: all .3s;
        &:hover {
          box-shadow: 0px 10px 20px rgba(222, 223, 235, 0.8);
        }
}

/* contact */

#contact {
    height: 100vh;
}
