@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Montserrat&family=Open+Sans:wght@300&family=Oswald:wght@700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Montserrat&family=Open+Sans:wght@300&family=Orbitron&family=Oswald:wght@700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0; 
    padding: 0;
    /* background-color: #DEF9FF; */
    /* background-color: rgb(205, 218, 255); */
    background-color: rgb(31, 31, 31);
    font-family: "changa";
}




/*navbar*/
/* 
nav {
    background-color: black;
    border: solid 2px yellow;
} */

/* .navbar {
    display: flex;

} */

/* .logo-container {
    border: 2px red solid;
} */

.navbar {
    position: absolute;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: blue;
}

.navbar a {
    color: white;
}

.logo {
   font-weight: bold;
   font-size: 1em;
   font-family: "changa";
   margin: 0 25px;

}

.navbar .nav-links ul {
    display: flex; 
}


.navbar .nav-links ul li {
    margin: 0 25px;
}

/* name et neon */
.neon1 {
    margin: 100px;
    width: 200px;
    height: 200px;
    background-color: rgb(111, 0, 255); /* for the 1px in the center */
    border-radius: 100%;
    box-shadow: 0 0 50px 70px rgb(111, 0, 255);
    padding: 20px;
    position: absolute;
    top: 130px;
    /* height: 100%;
    width: 100%;
    backdrop-filter: blur(20%);
    background: rgba(0, 0, 0, 0.73); */
}

.title-accueil {
    z-index: 1;
    /* display: flex;
    justify-items: left;
    align-items: center; */
    left: 100px;
    position: relative
}

h1 {
    color: rgb(230, 236, 240);
    font-size: 4em;
    font-family: "Orbitron";
    padding: 0px;
    /* margin-bottom: 50px; */

}



/* .title-accueil {
    display: flex;
    justify-content: center;
    align-items: center;
} */
.neon2 {
    margin: 100px;
    width: 50px;
    height: 50px;
    background-color: rgb(0, 42, 255); /* for the 1px in the center */
    border-radius: 100%;
    box-shadow: 0 0 50px 70px  rgb(0, 42, 255);
    padding-left: 30px;
    z-index: -1;

}

/* words cloud */

.cloud-container {
    border: solid rgb(0, 4, 255) 2px;
    border-radius: 50%;
    padding: 10px;
    width:350px;
    height:350px;
    /* display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: wrap; */    
}

ul.cloud {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 2.75rem;
    max-width: 400px;
  }
  
  ul.cloud a {
    /*   
    Not supported by any browser at the moment :(
    --size: attr(data-weight number); 
    */
    --size: 4;
    --color: #a33;
    color: var(--color);
    font-size: calc(var(--size) * 0.25rem + 0.5rem);
    display: block;
    padding: 0.125rem 0.25rem;
    position: relative;
    text-decoration: none; 
    animation: shake 1.5s; 
    /* animation: 3s linear 1s infinite alternate slidein;
    animation: fadeIn 0.5s linear; */
    animation-iteration-count: infinite; 
    
}
  
  ul.cloud a[data-weight="1"] { --size: 4; }
  ul.cloud a[data-weight="2"] { --size: 4; }
  ul.cloud a[data-weight="3"] { --size: 4; }
  ul.cloud a[data-weight="4"] { --size: 4; }
  ul.cloud a[data-weight="5"] { --size: 4; }
  ul.cloud a[data-weight="6"] { --size: 4; }
  ul.cloud a[data-weight="7"] { --size: 4; }
  ul.cloud a[data-weight="8"] { --size: 4; }
  ul.cloud a[data-weight="9"] { --size: 4; }
  

ul.cloud a {
    color: aliceblue;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

li {
    list-style-type: none;
    color: white;
    font-family: "changa";
}

.accueil-container {
    /* width: 100vw; */
    height: 100vh;
    /* position: absolute; */
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
}
/* about */

.section-title {
    color: white;
    font-size: 2em;
}

.title-about {
    display: flex;
    justify-content: center;
    align-items: center;
}

#apropos {
    height: 100vh;
    border: 2px solid red;
}

.about-content {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 100px;

}

.text p {
    color: white;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* projects */

#projects {
    height: 100vh;
    border: #ff0000 solid;

}

/* projets */

.projects-container {
    /* height: 500px; */
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 5px; */
    display: grid;
    margin: 0 var(--padding);
    grid-template-columns: repeat(auto-fit, minmax(385px, 1fr));
    column-gap: 20px;
    row-gap: 20px;
}


.project img {
    height: 300px;
    width: 300px;
}

/* contact */

#contact {
    height: 100vh;
}
